body
{
    background-color: #7f8c8d;
    padding: 2em;
    padding-top: 0;
    font-family: 'Open Sans', sans-seriff;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    color:  white;
    letter-spacing: 1px; 
}

button{
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       filter:hue-rotate();
       color:darkcyan;
       font-size:larger;
}

#resultContainer{
    font-family:18thCentury;
    font-weight:lighter;
}





#resultDiv{
    font-family: 'Alfa Slab One', cursive;
    line-height: 1em;
}

.selected {
    border-bottom: black 5px solid;
    padding: 12px;
}

#colorDiv{
    margin-top: 20px;
    margin-bottom: 20px;
}